
<!DOCTYPE html>
<html>
<head>
    <title>MARL Visualization</title>
    <style>
        #grid-container {
            display: grid;
            border: 1px solid black;
        }
        .grid-cell {
            border: 1px solid lightgray;
        }
        .agent {
            background-color: blue;
        }
        .target {
            background-color: green;
        }
    </style>
</head>
<body>
    <h1>Multi-Agent Reinforcement Learning Visualization</h1>
    <div id="grid-container"></div>

    <script src="/static/js/main.js"></script>
</body>
</html>
